@keyframes animacion_test{
    from{
        background-color: aquamarine;
    }
    to{
        background-color: darkmagenta;
    }
}

@keyframes girar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes label-animacion{
    from{
        transform: rotate(0deg);
        margin-left: 0;
    }
    to{
        transform: rotate(180deg);
        margin-left: 85vw;
    }
}

.label-container{
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.label{
    width: 64px;
    text-align: center;
    background-color: rgb(15, 143, 194);
    color: #ffffff;
    font-size: 1.3rem;
    padding: 1rem;
    border-radius: 20px;
    animation-name: label-animacion;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.loader{
    width: 64px;
    height: 64px;
    border: 16px solid #760980b7;
    border-top: 16px solid #37f5b5b2;
    border-radius: 50%;
    animation: girar 2.5s linear infinite;
}

.loader-double{
    width: 64px;
    height: 64px;
    border: 16px solid #19880fb7;
    border-top: 16px solid #0d8fafb2;
    border-bottom: 16px solid #2107b1d5;
    border-radius: 50%;
    animation: girar 2s linear infinite;
}

.animada{
    width: 100%;
    background-color: aquamarine;
    color: bisque;
    text-align: center;
    height: 200px;
    display: flex;
    justify-content: center;
    animation: animacion_test 2s alternate infinite;
}
